@import "_variables";
@import "_placeholders";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');


body {
  background: $primary;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

//region HEADER
header {
  height: 64px;
  margin-top: 16px;
  background: $tertiary;
  color: $primary;
}
#header-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
  }
}
#logo {
  display: flex;
  align-items: center;

  img {
    height: 45px;
  }

  p {
    padding-top: 5px;
    font-size: larger;
  }
}
.carret-icon {
  height: 10px;
}
.dropdown-button {
  display: flex;
  align-items: center;
  gap: 2px;
}
//endregion

main {
  flex: 1;
}

//region FOOTER
footer {
  height: 100px;
  margin-bottom: 16px;
  background: $tertiary;
}
//endregion