@import "_variables";
@import "_placeholders";

@font-face {
  font-family: Titillium;
  src: url("../../fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: Titillium-extrabold;
  src: url("../../fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}

body {
  background: $primary;
  font-family: Titillium, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

article {
  @extend %container;
}

.title-container {
  margin-top: 16px;
  background: $secondary;
  padding: 16px;
  h2 {
    @extend %container;
    line-height: 40px;
    color: $primary;
    font-size: x-large;
  }
}



h3 {
  color: $tertiary;
  font-size: 1.75em;
}

p {
  color: $secondary;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: lighten($primary, 25);
    text-decoration: underline;
  }
}

.button {
  padding: 10px 30px;
  display: flex;
  width: fit-content;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  transition: padding 500ms;

  &:hover {
    padding: 15px 35px;
  }

  &__yellow {
    background-color: $highlight;
    color: $primary;
  }
}

//region HEADER
header {
  margin-top: 16px;
  height: 64px;
  background: $tertiary;
  color: $primary;
}

#header-container {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
  }
}

#logo {
  display: flex;
  align-items: center;

  img {
    height: 45px;
  }

  h1 {
    font-family: Titillium-extrabold, sans-serif;
    font-size: x-large;
  }
}

.carret-icon {
  height: 10px;
}

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 2px;
}

//endregion

main {
  background: $primary;
  flex: 1;
}

//region FOOTER
footer {
  height: auto;
  margin-bottom: 16px;
  background: $tertiary;
}

#footer-container {
  @extend %container;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  //grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

#social-container {
  p {
    color: $primary;
    font-size: large;
  }

  div {
    display: flex;
    gap: 8px;

    img {
      width: 60px;
    }
  }
}

#partenaires-container {
  p {
    font-size: large;
  }

  // justify-self: end;
}

#links-container {
  height: 60px;

  ul {
    list-style: none;
    padding: 0;
  }
}

address {
  display: flex;
  gap: 16px;

  p {
    color: $primary;
  }

  //justify-self: end;
}

@media screen and (min-width: map-get($breakpoints, md)) {
  #footer-container {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
  #partenaires-container, address {
    justify-self: end;
  }
}

//endregion
