.article__content--img {
  display: flex;
  justify-content: center;
  align-items: center; }

.article__content {
  display: flex;
  gap: 32px;
  justify-content: space-between; }
  .article__content--wrapper {
    flex: 1; }
  .article__content--text {
    font-size: 1.2em;
    line-height: 1.5em; }
  .article__content--img {
    flex: 1;
    background-image: url("https://picsum.photos/500/500"); }
