.article__content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .article__content--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; }
  .article__content--img {
    border: 1px solid white;
    height: 150px; }
