article, .title-container h2, #header-container, #form-container, #footer-container {
  margin: auto;
  width: clamp(0px, 90%, 1140px); }

@font-face {
  font-family: Titillium;
  src: url("../../fonts/Titillium_Web/TitilliumWeb-Regular.ttf"); }

@font-face {
  font-family: Titillium-extrabold;
  src: url("../../fonts/Titillium_Web/TitilliumWeb-Bold.ttf"); }

body {
  background: #004643;
  font-family: Titillium, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; }

.title-container {
  margin-top: 16px;
  background: #ABD1C6;
  padding: 16px; }
  .title-container h2 {
    line-height: 40px;
    color: #004643;
    font-size: x-large; }

h3 {
  color: #FFFFFE;
  font-size: 1.75em; }

p {
  color: #ABD1C6; }

a {
  text-decoration: none;
  color: #004643; }
  a:hover {
    color: #00c6bd;
    text-decoration: underline; }

.button {
  padding: 10px 30px;
  display: flex;
  width: fit-content;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  transition: padding 500ms; }
  .button:hover {
    padding: 15px 35px; }
  .button__yellow {
    background-color: #F9BC60;
    color: #004643; }

header {
  margin-top: 16px;
  height: 64px;
  background: #FFFFFE;
  color: #004643; }

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header-container ul {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none; }

#logo {
  display: flex;
  align-items: center; }
  #logo img {
    height: 45px; }
  #logo h1 {
    font-family: Titillium-extrabold, sans-serif;
    font-size: x-large; }

.carret-icon {
  height: 10px; }

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 2px; }

main {
  background: #004643;
  flex: 1; }

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #FFFFFE;
  border-radius: 15px;
  margin: 32px 0;
  padding: 32px 32px; }
  form input,
  form textarea {
    background: #d9d9d9;
    border: none;
    border-radius: 5px;
    padding: 8px; }
  form input[type=submit] {
    background: #004643;
    color: #F9BC60;
    font-weight: 900;
    padding: 16px;
    min-width: fit-content;
    width: 50%;
    align-self: center; }
  form textarea {
    height: 200px;
    resize: none; }

#contact-container {
  display: flex;
  flex-direction: column;
  gap: 16px; }
  #contact-container input {
    flex: 1; }

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px; }

footer {
  height: auto;
  margin-bottom: 16px;
  background: #FFFFFE; }

#footer-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); }

#social-container p {
  color: #004643;
  font-size: large; }

#social-container div {
  display: flex;
  gap: 8px; }
  #social-container div img {
    width: 60px; }

#partenaires-container p {
  font-size: large; }

#links-container {
  height: 60px; }
  #links-container ul {
    list-style: none;
    padding: 0; }

address {
  display: flex;
  gap: 16px; }
  address p {
    color: #004643; }

@media screen and (min-width: 768px) {
  #footer-container {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr); }
  #partenaires-container,
  address {
    justify-self: end; }
  #contact-container {
    flex-direction: row; } }
