#header-container, #footer-container {
  margin: auto;
  width: 90%; }

@font-face {
  font-family: Titillium;
  src: url("../../fonts/Titillium_Web/TitilliumWeb-Regular.ttf"); }

@font-face {
  font-family: Titillium-extrabold;
  src: url("../../fonts/Titillium_Web/TitilliumWeb-Bold.ttf"); }

@font-face {
  font-family: Titillium;
  src: url("../../fonts/Titillium_Web/TitilliumWeb-Regular.ttf"); }

body {
  background: #004643;
  font-family: Titillium,  sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; }

header {
  height: 64px;
  margin-top: 16px;
  background: #FFFFFE;
  color: #004643; }

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header-container ul {
    font-size: smaller;
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none; }

#logo {
  display: flex;
  align-items: center; }
  #logo img {
    height: 45px; }
  #logo p {
    font-family: Titillium-extrabold, sans-serif;
    font-size: larger; }

.carret-icon {
  height: 10px; }

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 2px; }

main {
  flex: 1; }

footer {
  height: 100px;
  margin-bottom: 16px;
  background: #FFFFFE; }
